

<div class="hero-unit">
	<h1>Sandbox!</h1>
	<p>Welcome to the main page</p>
</div>



<h2>Rails 3.2 stack</h2>


<dl class="dl-horizontal">
	<dt>JQuery</dt>
	<dd>jquery-rails, jquery-ui-rails</dd>

	<dt>CSS</dt>
	<dd>bootstrap-sass  (no rubyracer pls!)</dd>

	<dt>Components</dt>
	<dd>rails3-jquery-autocomplete, bootstrap-datepicker-rails</dd>

	<dt>database</dt>
	<dd>postgresql, heroku compatible</dd>

	<dt>Authentication</dt>
	<dd>Devise, OmniAuth TBD</dd>
	
</dl>

