# sql3:
#   adapter: sqlite3
#   pool: 5
#   timeout: 5000
#   database: db/development.sqlite3

psql: &psql
  adapter: postgresql
  encoding: unicode
  database: sandbox_dev
  pool: 5
  host: localhost
  username: sandbox
  password: b4seb4ll

development:
  <<: *psql

test:
  <<: *psql
  username: sandbox_test
  password: b4seb4ll
  database: sandbox_test

production:
  <<: *psql
  database: sandbox


